.a,.b,.c{
  display:block;
  }
  .a {
    width: 600px;
    height: 400px;
    background-color: aqua;
  }
  .b {
    position: absolute;
    top: 120px;
    right: 0;
    width: 300px;
    height: 200px;
    background-color: darkgray;
    }
  .c{
     background-color: yellow;
    
  }
  .relative1{
    background-color: bisque;
    position: relative;
   
  }

  .obsolute{
    background-color: blueviolet;
    position: fixed;
    
  }