body{
    
    background-color: #f4f4f4;
    color: #555;
    line-height: 1.6em;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    width:100%;
    height:100%;
    
}


#main-header{
    background-color:coral;
    color: #fff;
}

#nav-bar{
    background-color: #333;
    color:#fff;
}

#nav-bar ul{
    padding: 0;
    list-style: none;
    margin: 0%;
}

#nav-bar li{
    display: inline;
}

#nav-bar a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
}

#showcase{
    background-image:url('images/showcase.jpg');
    background-position: center right;
  
    min-height: 300px;
    text-align: center;
    color: #fff;
    font-size: 50px;
    line-height: 1.6em;
}


.container{
    width: 100%;
    border: 6px solid #949599;
    border-radius: 20px;
}



.mc{
    width: 100%;
    padding-top:15px;
}
.sidebar{
    height: 190px;

    float: right;
    width:29.05%;
    padding: 3px;
    box-sizing: border-box;
    background: #333;
    color: #fff;
    font-size: 18px;
    text-align: center;  
    box-sizing: border-box;
    border-radius: 20px;

}

.container{
    position: relative;
overflow: hidden;
width: 70.009%;
}

.container,.sidebar{
    display: inline-block;
}
section{
    margin-right:310px;
}

    img {
        float: right;
        height: 100%;
    
      }


#main-footer{
    background: #333;
    position: fixed;
    width:100%;

left: 0;
bottom: 0;
    color: #fff;
    text-align: center;
}

