
body{position:relative;
    margin: 0;
    padding: 0;
    
}
.header{

    float: right;
    

}
.header a:hover{
    text-decoration-line: underline;
}
.header a, .header button{
    margin: 7px;

    text-decoration-line: none;
    color: black;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;

}
.header button{
    background-color: rgb(103, 103, 248);
    padding:7px;
    font-size: 13px;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}
.searchbox input{
    width:580px;
    height:40px;
    border-radius: 10px;
}

.btn a, button{
    margin-top:24px;
    padding:8px;
}
.main{
    padding: 126px;
    margin-left: 190px;
}
.logo-img img{
    padding-left: 120px;
}
.langs a{
    margin:5px;
    font-size: 13px;
    text-decoration-line: none;
}
.langs{
    padding: 15px;
}
.langs :hover{
    text-decoration-line: underline;

}
.btn{
    padding-left: 160px;
    padding-top: 5px;
}


#ll, #lr{
    display: inline-block;
}
#lr{
    float: right;
    margin-right: 20px;
    margin-bottom: 20px;
}
#ll{
    margin-left:20px;
    margin-bottom: 20px;
    border-top-width: 5px;
}
.footerline {
    background-color: rgb(211, 207, 207);
    text-decoration-line: none;
}
.footerline a{
    color:grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-decoration-line: none;
    margin:7px;
}
.footerline a:hover{
    text-decoration-line: underline;

}
.f1{
    padding: 18px;
    color:gray;
    height: 13px;
    border-top:1.5px solid  rgb(201, 199, 199);
    border-bottom:1.5px solid  rgb(201, 199, 199);
}
.line a{ position: relative;
    background-color: rgb(211, 207, 207);
    top:10px;
} 
